@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #8c4cec;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--purple);
  --accent: var(--dusk);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
  overflow: hidden;
}

* {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

#progress .indicator {
  stroke: var(--accent);
}

ul {
  display: flexbox;
  border-radius: 2px;
  list-style: none;
  height: 600px;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 600px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
  height: 7px;
  width: 7px;
  background: #fff3;
  -webkit-border-radius: 3ex;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

li {
  flex: 0 0 200px;
  background: var(--accent);
  margin-right: 20px;
  border-radius: 10px;
}

li:last-of-type {
  margin: 0;
  gap: 20px;
}

.refresh {
  padding: 5px;
  position: absolute;
  border: 1px dotted var(--accent);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.refresh path {
  fill: var(--accent);
}

.box {
  width: 200px;
  height: 200px;
  background: var(--accent);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.icon-placeholder {
  border-radius: 50%;
  top: 418px;
  left: 430px;
  width: 50px;
  height: 50px;
  flex: 40px 0;
  margin-left: 120px;
}
